:root {
    --test-border: 1px solid black;
    font-family: "Raleway", sans-serif;
}

body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: minmax(100px 20%) 1fr;
    grid-template-rows: minmax(15%, 20%) 1fr;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    grid-row: 1 / 3;
    background-color: #4056a1;
    border: 1px solid grey;
    display: grid;
    grid-template-rows: repeat(3, fit-content);
    align-content: start;
    gap: 24px;
    color: white;
    font-style: medium;
}

.sidebar-links {
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-columns: max-content max-content;
    justify-content: center;
    row-gap: 1rem;
    column-gap: 2rem;
    margin: 2rem;
}

.sidebar-section-start {
    margin-top: 2rem;
}

.header {
    grid-column: 2 / 3; 
    display: grid;
    grid-template-rows: auto auto;
    box-shadow: 0px -10px 15px rgba(0, 0, 0, 0.3);
}

.search-and-nav {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    margin: 12px;
}

.search-bar {
    display: grid;
    justify-content: start;
    grid-template-columns: auto 1fr;
    margin-right: 5rem;
    gap: 12px;
    height: 1.5rem;
}

.nav {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 2rem;
    justify-content: end;
    align-content: center;
}

.post button {
    background-color: #4056a1;
    color: white;
    border-radius: 10px;
    padding: 0.5rem;
    border: thin solid black;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
    
}

.profile-and-post {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-content: center;
}

.profile {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 12px;
    margin: 12px;
}

.post {
    display: grid;
    justify-self: end;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    grid-template-rows: 2rem;
    margin: 0 32px;
}

.main-content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: #dcdde5;
    display: grid;
    grid-template-columns: 2fr minmax(20%, 1fr);
}

.project-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
    margin: 2rem;
    height: 70vh;
}

.projects > div {
    grid-column: 1 / 3;
}

.card {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
    border-left: 0.5rem solid #f13c20;
    padding: 0.5rem;
    display: grid;
    grid-template-rows: fit-content 1fr fit-content;
}

.card-icons {
    justify-self: end;
}

.card > h3 {
    margin: 0.5rem;
}

.card p {
    margin: 0 0.5rem;
}

.header img {
    height: 2rem;
    width: auto;
}

.projects > h2 {
    margin: 12px;
}

h3 {
    font-style: bold;
}